PORT = #3000 or 5000

DB_HOST = #localhost or 172.21.21.24
DB_USER = # Your name user the database
DB_PASSWORD = # Your password
DB_NAME = #Your name database

JWT_SECRET = # Your secret key 

GMAIL_CLIENT_ID = # Your Gmail client ID
GMAIL_CLIENT_SECRET = # Your Gmail client secret
GMAIL_REFRESH_TOKEN = # Your Gmail refresh token
EMAIL_USER = # Email

FRONTEND_URL = # http://127.0.0.1:5500/

# No es recomendable usar NODE_TLS_REJECT_UNAUTHORIZED en producción, pero si estás desarrollando y necesitas evitar errores de SSL, puedes usarlo así:
NODE_TLS_REJECT_UNAUTHORIZED = 0 # This is to avoid SSL errors in development, not recommended for production