PORT = #3000 or 5000

DB_HOST = #localhost or 172.21.21.24
DB_USER = # Your name user the database
DB_PASSWORD = # Your password
DB_NAME = #Your name database

JWT_SECRET = # Your secret key 

EMAIL_USER = # Email
EMAIL_PASSWORD = # Password Email

FRONTEND_URL = # http://127.0.0.1:5500/